.shop{
	//padding: rem(40) 0;
	font-family: sans-serif;
}
.shop-list{
	font-size: 1rem;
	text-align: center;
	font-family: sans-serif;
}
.shop__item{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 1rem;
	width: 11rem;
	height: 11rem;
	position: relative;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	    border-radius: 0.8rem;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shop__item:after {
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.65);
	box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.65);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	border-radius: 0.8rem;
	
}

.shop__item:hover {
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
	cursor: pointer;
}

.shop__item:hover::after {
	opacity: 1;
}


.shop__image{
	width: 100%;
	height:100%;
	position: relative;
	overflow:hidden;
	background: red no-repeat center center/cover;
	border-radius: 0.8rem;
}

.shop__details{
	background: #ffffff;
	padding: rem(60) 5%;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
	border-radius: 0.8rem;
	font-size:1rem;
}

.shop__item:hover .shop__details {
	opacity: .8;
}

.shop-name {
    color: #fff;
    text-shadow: 0px 2px 6px black;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom:0;
}

.shop-category {
	position: absolute;
    bottom: -1rem;
    width: 92%;
    background: rebeccapurple;
    color: #FFF;
    font-size: 0.8rem;
    padding: 4%;
}

.shop__item:hover .shop-category {
	opacity: 0;
}

.shop-description {
	font-size:0.8rem;
	padding: 4px;
	margin:0;
}

.SHOPPING {
	background:yellowgreen;
}

.BEAUTY {
	background: burlywood;
}
 
@media only screen and (max-width: 500px) { 
	.shop__item{	
		margin: 5%;
		width: 90%;
		height: 235px;
	}
}
@media only screen and (max-width: $screen-xs) { 
	
}

	

		.shop__image-hover{
			display: none;
		}
	

	

		p{
			color:$primary-color;
		}

		.restaurant-name{
			@include text-mrs-eaves-roman(32);
			text-transform: uppercase;
			padding-bottom: rem(10);
		}
		.restaurant-price{
			@include text-futura-light(22);
			text-transform: uppercase;
			padding-bottom: rem(24);
		}
		.restaurant-description{
			@include text-mrs-eaves-italic(22);
			padding-bottom: rem(10);
		}
	

	&.not-available{
		.shop__image img{
			opacity: 0.3;
			-moz-opacity: 0.3;
			filter: alpha(opacity=30); /* IE */
		}

		.btn{
			display: none;
		}

		.shop__image-hover{
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			z-index: 1;

			span{
				@include text-futura-light(18);
				color:$secondary-color;
				text-transform: uppercase;
				display: block;
				line-height: 1.4;
			}
		}
	}

