<masonry class="shop-list" [options]="{ fitWidth:false }">
	<masonry-brick class="shop__item" *ngFor="let shop of shopList">
		<div class="shop__image" [ngStyle]="{ 'background': shop.photos[0] !== undefined ? 'url('+shop.photos[0].thumbnails.medium+') no-repeat center center/cover' : 'url(https://www.cmk.mx/index.php?/files/large/1174ea1acd7e0e3) no-repeat center center/contain' }">
			<p class="shop-name">{{shop.name}}</p>
			<p class="shop-category {{shop.category}}">{{shop.category}}</p>
		</div>

		
		<div class="shop__details">
			<p class="shop-name">{{shop.name}}</p>
			<p class="shop-description">{{shop.shortDescription}}</p>
		</div>
	</masonry-brick>
</masonry>
