.filter {
    width: 100%;
    background: cadetblue;
    margin: 0;
    text-align: center;
    padding: 0;
}

.filter li {
	display:inline-block;
	display: inline-block;
    margin: 3%;
}

.filter a {
	text-decoration: none;
	color:white;
}