<section class="shop-details">
	<div class="close"><a routerLink="/">X <span>cerrar</span></a></div>
	<p class="title">{{shopItem[0]?.name}}</p>
	<p class="subtitle">{{shopItem[0]?.shortDescription}}</p>
	
	<div class="shop-details__contact">
		<p class="address">{{shopItem[0]?.address.street}}</p>
		<p class="city">{{shopItem[0]?.address.city}} - {{shopItem[0]?.address.zip}} ({{shopItem[0]?.address.country}})</p>
	</div>
	<agm-map [latitude]="shopItem[0]?.location[1]" [longitude]="shopItem[0]?.location[0]">
		<agm-marker [latitude]="shopItem[0]?.location[1]" [longitude]="shopItem[0]?.location[0]"></agm-marker>
	</agm-map>
</section>
